*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}
body{
	background: #FFFEFF;
	color: #616161;
}
a{
	color: #616161;
	text-decoration: none;
	font-family: 'Questrial', sans-serif;
}
ul{
	list-style: none;
}
.container{
	width: 90%;
	margin: auto;
}
/* navegacion top*/
.nav-main1{
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 60px 0; 
}
.nav-main1 ul {
	display: flex;
}
.nav-main1 ul li {
	padding: 15px;
}
.nav-main1 ul li a:hover{
	content: '';
	top:0;
	left: 0;
	padding: 10px 20px;
	background: #F06292;
	color: #fff;
	transition: 0.5s;
	
}
.nav-main1  i{
	background: #fff;
	color: #F06292


}
.nav-main1 ul.nav-menu{
	
	margin-right:0 20px;
}
.boton{
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 30px;
	z-index: 2;
	background: #fff;
	color: #F06292;
	display: none;

}
/* show case*/
.showcase{
	width: 100%;
	height:550px;
	background:#F06292;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

}

.showcase .p1{
	font-size: 40px;
	font-weight: bold;
	word-spacing: 6pt;
}
.showcase .p2{
	font-size: 10px;
	line-height: 20pt; 


}
.btn{
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-size: 12px;
	padding: 10px 20px;
	background: #fff;
	color: #F06292;
	margin: 20px 0;
	font-family: 
}
.btn1{
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-family: 'Questrial', sans-serif;
	font-size: 10;
	padding: 10px 20px;
	background:#F06292;
	color: #fff;
	margin: 20px 0;
	
}
.showcase h2, .showcase p{
	margin-bottom: 10px;
}
.container1{
	width: 90%;
	max-width: 800px;
	margin: auto;
 }
 section .category{
 	display: flex;
 	justify-content: center;
 	flex-wrap: wrap;
 }
/* navegacion bottom*/
.nav-main2{
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 60px 0; 
}
.nav-main2 ul {
	display: flex;
}
.nav-main2 ul li {
	padding: 15px;
}
.nav-main2 ul li a:hover{
	content: '';
	top:0;
	left: 0;
	padding: 10px 20px;
	background: #F06292;
	color: #fff;
	transition: 0.5s;
	
}
.nav-main2 ul.nav-menu{
	
	margin-right:0 20px;
}

 /* grid*/
 .grid{
 	position: relative;
 	width: 100%;
 	opacity: 0;
 	transition: opacity 0.5s linear 1s;

 }
 .grid.img-loads {
	opacity: 1;
}
 .grid .item{
 	position: absolute;
 	display: block;
 	padding: 0;
 	margin: 10px;
 	width: calc(33.333333% - 20px);

 }
 .grid .item-contendo{
 	position: relative;

 }
 .grid .item img{
 	width: 100%;
 	cursor: pointer;
 	vertical-align: top;

 }

 /*footer*/
.social{
	margin: 50px
}

.links{
	display: flex;
	align-items: center;
	justify-content: center;
}
.social p{
	text-align: center;
	margin-bottom: 20px;
}
.social a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.links a{
	margin:0 15px;
}
@media(max-width: 700px){
	.boton{
		display: block;
	}
	.nav-main1 ul.nav-menu{
		display: block;
		position: absolute;
		top: 0;
		background: #fff;
		height: 100%;
		padding: 40px;
		opacity: .8;
		transform: translateX(-400px);
		transition: transform .5s ease-in-out;

	}
	.nav-main1 ul.nav-menu.show{
		transform: translateX(-20px);
	}
}